<h1>Welcome to Device-Test-Management-and-Tracking.com, <%= @user.email.split('@')[0] %></h1>
  <p>
    You have successfully signed up to DeviceTestManagement.com,
    your username is: <%= @user.email.split('@')[0] %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
