<%= turbo_frame_tag "new_device" do %>
  <div class="d-flex justify-content-center">
    <%= link_to 'Add Device', new_device_path(location_id: @location.id), class: "btn btn-primary" %>
  </div>
<% end %>
