<h3>Customer index page</h3>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="customers">
    <%= render @customers %>
  </tbody>
</table>

<%= turbo_frame_tag "new_customer" do %>
  <%= link_to 'Create Customer', new_customer_path %>
<% end %>

<%= turbo_frame_tag "edit_customer" %>
